<template>
    <div>
        <h4 class="text-center">All Logs</h4><br/>
        <table class="table table-bordered">
            <thead>
            <tr>
                <th>ID</th>
                <th>Subject</th>
                <th>Url</th>
                <th>ip</th>
                <th>Method</th>

            </tr>
            </thead>
            <tbody>
            <tr v-for="log in logs" :key="log.id">
                <td>{{ log.id }}</td>
                <td>{{ log.subject }}</td>
                <td>{{ log.url }}</td>
                <td>{{ log.ip }}</td>
                <td>{{ log.method }}</td>

            </tr>
            </tbody>
        </table>


    </div>
</template>

<script>
export default {
    data() {
        return {
            logs: []
        }
    },
    created() {
        this.$axios.get('/sanctum/csrf-cookie').then(response => {
            this.$axios.get('/api/logs')
                .then(response => {
                    console.log(response.data);
                    this.logs = response.data;
                })
                .catch(function (error) {
                    console.error(error);
                });
        })
    },
    methods: {

    },
    beforeRouteEnter(to, from, next) {
        if (!window.Laravel.isLoggedin) {
            window.location.href = "/";
        }
        next();
    }
}
</script>
